//colors
$color_red: #e21a1a;
$color_darkGray: #7f7f7f;
$color_lightGray: #f3f3f3;
$text_secondary: #496376;
$text_primary: rgb(8, 8, 8);

//fonts
$font_main: 1.4rem;
$font_sm: 1.2rem;
$font_md: 1.6rem;
$font_lg: 1.8rem;
$font_xl: 2.1rem;
$font_h2: 2.6rem;

//breakpoinsts

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

//layout
$layout_px: 2.5rem;
