.form {
   padding: 2rem 0;

   .form_content {
      display: flex;
      flex-direction: column;
      gap: 4rem;
   }

   .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2.5rem;
   }

   .input {
      width: 100%;
   }
}
