.form {
   padding: 2rem 0;

   .form_content {
      display: flex;
      flex-direction: column;
      gap: 4rem;
   }

   .row {
      display: flex;
      align-items: center;
   }

   .input_cont {
      padding: 0 2.5rem;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      font-size: 1.6rem;

      .input {
         width: 100%;
      }

      .plus {
         & p {
            font-size: 1.8rem;
         }
      }
   }

   .text {
      padding: 0 2.5rem;
   }

   .form_submit {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 4rem;
   }
}
